.start-page {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10rem;

  .start-menu {
    @include card;

    font-size: 2rem;

    .menu-choice {
      cursor: pointer;
    }
  }
}
