.game-screen {
  .game-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

@include md-screen {
  .game-screen {
    .game-container {
      margin: 0 auto;
      max-width: 50rem;
    }
  }
}
