.game-intro {
  @include card;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  text-align: center;

  .text {
    font-size: 1.4rem;
  }
}

@include md-screen {
  .game-intro {
    max-width: 50rem;
  }
}
